.input-budget {
    margin-left: 43%;
    margin-top: 2%;
}

input[type=submit]{
    margin-left: 5.8%;
}

input[type=text]{
    width: 27%;
}

.errors{
    margin-left: 43%;
}

select {
    margin-left: 0;
}

h1 {
    size: 50px;
    text-align: center;
    margin-top: 8%;
}

a {
    font-size: 2em;
    margin-left: 38%;
}

div.zoomed {
    zoom: 3;
    -moz-transform: scale(3);
    -moz-transform-origin: 0 0;
}


body {
    background-color: cornflowerblue;
}

h3 {
    text-align: center;
    font-size: 1em;
    font-style: italic;
}

select.form-control {
    width: 27%;
}

#update {
    margin-left: 37px;
}

#password {
    width: 27%;
}

#deactivate-confirm {
    position: relative;
    left: 550px;
    top: 300px;
}

#deactivate-buttons {
    position: relative;
    left: 18px;
}