.input-collection {
    margin-left: 43%;
    margin-top: 2%;
}

input[type=submit]{
    margin-left: 4.5%;
}

input[type=text]{
    width: 27%;
}

.errors{
    margin-left: 43%;
}

select {
    margin-left: 0;
}

h1 {
    size: 50px;
    text-align: center;
    margin-top: 8%;
}

a {
    font-size: 2em;
    margin-left: 38%;
}

body {
    background-color: #42f4c5;
}

h3 {
    text-align: center;
    font-size: 1em;
    font-style: italic;
}

