
.input-group {
    margin-left: 42%;
}

body {
    background-color: #42f4c5;
}

h1 {
    text-align: center;
}

input[type=submit]{
    margin-left: 37%;
}

a {
    font-size: 1.5em;
    margin-left: 39.8%;
}