@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  position: fixed;
  background: #6495ED;
  width: 100%;
  z-index: 100;
}
#cssmenu a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  /*padding: 20px 20px;*/
  text-decoration: none;
  font-size: 17px;
  margin: 1px 2px;
  cursor: pointer;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
    background: transparent;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
    #cssmenu ul li {
        float: none;
        display: block;
    }

    #cssmenu ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #fb998c;
    }

    #cssmenu ul li.last > a,
    #cssmenu ul li:last-child > a {
        border: 0;
    }

    #cssmenu ul li a:after {
        display: none;
    }

    #cssmenu ul li a:before {
        display: none;
    }

    #main {
        padding: 16px;
        margin-top: 30px;
        height: 1500px;
    }
}

#adminmsg {
    margin-top: 5%;
    font-size: 3em;
}

h1 {
    margin-bottom: 2.5%;
    font-weight: bold;
    text-align: center;
}


#events {
    margin-left: 30.3%;
}

html {
    font-size: 16px;
}

#expenses {
    margin-left: 30.3%;
}

h2 {
    margin-top: 2.5%;
    margin-left: 5.6%;
}

.btn-primary {
    margin-top: 5%;
    width: 300px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.alert {
    width: 550px;
    position: relative;
    margin-left: 65%;
}

#collections {
    margin-left: 30.3%;
}

#quickbois {
    margin-left: 3.5%;
}

#adminbuttons {
    background-color: #dcdbe7;
    width: 1030px;
    height: 300px;
    border-radius: 20px;
    margin-left: 16.2%;
}

#make-payment, #add-event, #add-expense {
    height: 95px;
    padding-top: 15px;
    margin-right: 10px;
    border-radius: 10px;
}

#add-collection{
    height: 95px;
    padding-top: 15px;
    margin-right: 10px;
    margin-top: -17px;
    border-radius: 10px;
}
#deactivate-students {
    height: 95px;
    padding-top: 15px;
    margin-right: 10px;
    margin-top: -17px;
    border-radius: 10px;
}
#new-attendance {
    height: 95px;
    padding-top: 15px;
    margin-right: 10px;
    position: relative;
    top: -32px;
    border-radius: 10px;
}

#tables {
    width: 98%;
    margin-left: 15px;
}

#payment-breadcrumbs, #collection-breadcrumbs, #expenses-breadcrumbs, #events-breadcrumbs {
    margin-top: -3.1%;
}

.breadcrumb {
    position: relative;
    top: 47px;
}

#budgetbuttons {
    margin-left: 30%;
}

#viewerbuttons1, #viewerbuttons2 {
    margin-top: -2.7%;
    margin-left: 0.35%;
}

#viewerbuttons2 {
    margin-top: -2.7%;
}

#viewbudgets, #viewexpenses, #viewevent {
    height: 250px;
    width: 200px;
    padding-top: 75px;
    font-weight: bold;
    margin-right: 8px;
    border-radius: 10px;
}

.gi-1, .gi-2, .gi-3 {
    font-size: 2.75em;
}

#pastbudgets, #pastevent, #pastexpenses {
    width: 200px;
    margin-right: 8px;
    font-weight: bold;
    border-radius: 10px;
}

#viewbuttons {
    background-color: #dcdbe7;
    width: 665px;
    height: 360px;
    position: relative;
    border-radius: 8px;

}

#viewpastexp {
    margin-left: 40.5%;
}


#clocks {
    zoom: 0.05;
    -moz-transform: scale(0.05);
    position: relative;
    bottom: -100px;
    display: block;
}

.clock {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    text-align: center;
    color: #606060;
    font-family: 'Quicksand', 'Helvetica', Arial, sans-serif;
    font-weight: bold;
}

.inside {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 250px;
    background-color: #ffffff;
}

.content {
    margin-top: 40px;
    width: auto;
    height: auto;
    text-align: center;
}

.days {
    color: #6D6D6D;
}

.days span {
    margin-left: 10px;
    font-size: 1.5em;
}

.text{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    font-size: 4em;
}

#time {
    font-size: 1.5rem;
}

#date {
    margin-top: 70px;
    margin-left: 0;
    font-size: 2em;
}

#cal img {
    width: 35px;
    height: 35px;
}

span#day {
    position: relative;
    margin-top: 15px;
    margin-left: 7px;
}

span#month {
    position: relative;
    margin-top: 15px;
    margin-left: 10px;

}

span#year {
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
}

.dropbtn {
  text-align: center;
  background-color: #6495ED;
  color: white;
  padding-top: 7px;
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 10px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  border-color: white;
  cursor: pointer;
}

.dropdown {
  color: #f1f1f1;
  position: relative;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0
  rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content,
a:hover{background-color:#f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #7effa5;
}


