<!DOCTYPE html>
<html>
<head>
<title>collection</title>
</head>
<body>

<h2>Collections</h2>
{{msg}}
<div class="input-payment">
    <form class="form form-horizontal" action="{{ url_for('cre_tab') }}" method="POST" role="form">
    <dl>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.type) }}
        {{ wtf.form_field(form.cname) }}
        {{ wtf.form_field(form.fee) }}
    </dl>
    <input class="btn btn-success" type="submit" value="Add">
    </form>
    </div>
<button onclick="window.location.href='/admincollection'">Cancel</button>

</body>
</html>