<html lang="en">

  <head>
    <title>About - The Team</title>
    <link href="static/bootstrap.min1.css" rel="stylesheet">
    <link href="/static/about.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">EZ Buddy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/viewerlogin">Login</a></li>
            <li><a href="/admin">Admins</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container-fluid">
        <div class="panel panel-primary panel-transparent">

      <h1 style="margin-top: 6%">About Us<br>
        <small style="font-size: 0.7em">(It's Nice to Meet You!)</small>
      </h1>
            <div class="panel-body">

      <p>EZ Buddy is all about providing organizations an easy way to keep track of records. It has lots of features, from setting up events to keeping track of expenses.
          So if our app has helped you in any way, that's pretty cool. ☺
      </p>

      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4" style="text-align: center; font-size: 3em">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img style="border-radius: 100px" class="rounded-circle img-fluid d-block mx-auto" src="static/about/roy.jpg" alt="">
          <h3>Roy Raposon Jr.<br>
            <small style="color: white">Project Manager</small><br>
              <small style="color: white">https://github.com/solarflare626</small>
          </h3>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img style="border-radius: 100px" class="rounded img-fluid d-block mx-auto" src="static/about/lee.jpg" alt="">
          <h3>Leejames Merlas<br>
            <small style="color: white">Developer</small><br>
            <small style="color: white">https://github.com/leemerlas</small>
          </h3>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img style="border-radius: 100px" class="rounded-circle img-fluid d-block mx-auto" src="static/about/geronyl.jpg" alt="">
          <h3>Geronyl Paragoso<br>
            <small style="color: white">Developer</small><br>
              <small style="color: white">https://github.com/fightTone</small>
          </h3>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img style="border-radius: 100px" class="rounded-circle img-fluid d-block mx-auto" src="static/about/reign.jpg" alt="">
          <h3>Reign Hart Cabasag<br>
            <small style="color: white">Developer</small><br>
              <small style="color: white">https://github.com/storm271997</small>
          </h3>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img style="border-radius: 100px" class="rounded-circle img-fluid d-block mx-auto" src="static/about/raphael.jpg" alt="">
          <h3>Raphael John Guray<br>
            <small style="color: white">Developer</small><br>
              <small style="color: white">https://github.com/guray27</small>
          </h3>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img style="border-radius: 100px" class="rounded-circle img-fluid d-block mx-auto" src="static/about/nuff.jpg" alt="">
          <h3>Naphisah Maruhom<br>
            <small style="color: white">Developer</small><br>
              <small style="color: white">https://github.com/nuffmaruhom</small>
          </h3>
        </div>

          <div class="col-lg-4 col-sm-6 text-center mb-4" style="left: 408px">
          <img style="border-radius: 100px" class="rounded-circle img-fluid d-block mx-auto" src="static/about/sir malik.jpg" alt="">
          <h3>Malik Maulana<br>
            <small style="color: white">Adviser</small><br>
          </h3>
        </div>

      </div>
    <footer style="text-align: center; margin-top: -1%">&copy; Copyright 2017</footer>
    </div>
    </div>
    </div>



  </body>

</html>
