{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Update Record
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link href="/static/mainstyle.css" rel="stylesheet">
    <link href="/static/forms.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
    {% include "adminbar.html" %}
    {% with msg = get_flashed_messages() %}

    <ol class="breadcrumb" id="form-breadcrumbs">
    <li class="breadcrumb-item"><a href="/adminhome">Home</a></li>
    <li class="breadcrumb-item"><a href="/admincollection">Collections</a></li>
    <li class="breadcrumb-item">Update Collection</li>
    </ol>

    <div class="container">
    <div class="wrapper">
    <div class="form-signin">
        <h3 class="form-signin-heading">Update Collection Info</h3>
    <form class="form form-horizontal" action="{{ url_for('updatecollection', colid=colid) }}" method="POST" role="form">
    <dl>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.colname, placeholder="Enter new name") }}
        {{ wtf.form_field(form.fee, placeholder="Enter new amount") }}
    </dl>
    <input class="btn btn-success btn-block" type="submit" value="Update">
    <input class="btn btn-primary btn-block" type="button" value="Back" onclick="window.location.href='javascript:history.back()'">
    </form>

    </div>
    </div>
    </div>
    {% endwith %}
{% endblock %}