{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Collection
{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/mainstyle.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block metas %}
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block scripts %}
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   {{ super() }}
{% endblock %}

{% block content %}
<div id='cssmenu'>
<ul>
   <li><a href="/adminhome"><span>Home</span></a></li>
   <li><a href="/admincollection"><span>Collection</span></a></li>
   <li><a href="/adminpays"><span>Payments</span></a></li>
   <li><a href="/adminattendance"><span>Attendance</span></a></li>
   <li><a href="/adminbudgets"><span>Budgets</span></a></li>
   <li><a href="/adminexpenses"><span>Expenses</span></a></li>
   <li><a href="/adminevents"><span>Events</span></a></li>
   <li><a href="/adminmembers"><span>Members</span></a></li>
    <li><a href="/adminlogs"><span>Logs</span></a></li>
   <li><a href="/logout"><span>Logout</span></a></li>
</ul>
</div>

<div id="main"><br><br><br>
  <h1 style="font-family: sans-serif">Collections</h1>
  <h2></h2>
</div>
{% endblock %}
