{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Deactivate
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/mainstyle.css">
    <link href="/static/forms.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
    {% include "adminbar.html" %}
<ol class="breadcrumb" id="form-breadcrumbs">
    <li class="breadcrumb-item"><a href="/adminhome">Home</a></li>
    <li class="breadcrumb-item">Deactivate</li>
</ol>

    <div class="container">
        <div class="wrapper">
            <div class="form-signin" style="margin-top: 12%">
        <h3 class="form-signin-heading">Confirm Password</h3>
    <form class="form form-horizontal" action="{{ url_for('deactivate') }}" method="POST" role="form">
    <dl>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.password, placeholder="Enter your password") }}
    </dl>
    <div id="deactivate-buttons">
        <input class="btn btn-success btn-block" type="submit" value="De-Activate">
        <input class="btn btn-primary btn-block" type="button" value="Back" onclick="window.location.href='/adminhome'">
    </div>
    </form>
    </div>
    </div>
    </div>

    {% with msg = get_flashed_messages() %}
        {% if msg %}
        {% for alert in msg %}
            <div class="messages">
            <div class="col-sm-6 col-md-6">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <span class="glyphicon glyphicon-info-sign"></span><strong>{{ alert }}</strong>

            </div>
        </div>
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}