{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
New Event
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="/static/events.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
    {% with msg = get_flashed_messages() %}
<h1>Create New Event</h1>
        <h3> {{ msgs }} </h3>
    <div class="input-event">
    <form class="form form-horizontal" action="{{ url_for('updateevent') }}" method="POST" role="form">
    <dl>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.eventid, placeholder="Enter event ID") }}
        {{ wtf.form_field(form.eventName, placeholder="Update name") }}
        {{ wtf.form_field(form.eventDate) }}
        {{ wtf.form_field(form.allocation, placeholder="Enter new budget allocation") }}
    </dl>
    <input class="btn btn-success" type="submit" value="Update">
    <input class="btn btn-primary" type="button" value="Back" onclick="window.location.href='/adminevents'">
    </form>

    </div>
    {% endwith %}
{% endblock %}