{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Remove Event
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="/static/events.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
    {% with msg = get_flashed_messages() %}
<h1>Delete An Event</h1>
        <h3> {{ msgs }} </h3>
    <div class="input-event">
    <form class="form form-horizontal" action="{{ url_for('deleteevent') }}" method="POST" role="form">
    <dl>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.eventid, placeholder="Enter event ID") }}
    </dl>
    <input class="btn btn-success" type="submit" value="Remove">
    <input class="btn btn-primary" type="button" value="Back" onclick="window.location.href='/adminevents'">
    </form>
    </div>

    <div class="container-fluid">
    <div class="panel panel-primary panel-transparent">
        <div class="panel-heading">
             <h3 class="panel-title">Reminders</h3>
        </div>
        <div class="panel-body">You can only delete EXISTING events!</div>
    </div>
</div>
    {% endwith %}
{% endblock %}