{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Update Expense
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/mainstyle.css">
    <link href="/static/forms.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
    {% include "adminbar.html" %}
    {% with msg = get_flashed_messages() %}

<ol class="breadcrumb" id="form-breadcrumbs">
    <li class="breadcrumb-item"><a href="/adminhome">Home</a></li>
    <li class="breadcrumb-item"><a href="/adminexpenses">Expenses</a></li>
    <li class="breadcrumb-item">Update Info</li>
</ol>

    <div class="container">
    <div class="wrapper">
    <div class="form-signin" style="margin-top: 1%">
        <h3 class="form-signin-heading">Update Record Info</h3>
    <form class="form form-horizontal" action="{{ url_for('updateexpense', expid=expid) }}" method="POST" role="form">
    <dl>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.name, placeholder="Enter new name") }}
        {{ wtf.form_field(form.amount, placeholder="New amount spent") }}
        {{ wtf.form_field(form.date) }}
        {{ wtf.form_field(form.orNo, placeholder="New OR number") }}
    </dl>
    <input class="btn btn-success btn-block" type="submit" value="Confirm">
    <input class="btn btn-primary btn-block" type="button" value="Back" onclick="window.location.href='javascript:history.back()'">
    </form>
    </div>
    </div>
    </div>


    {% endwith %}
{% endblock %}