{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Update Expense
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="/static/expenses.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
    {% with msg = get_flashed_messages() %}
<h1>Edit Record</h1>
        <h3> {{ msgs }} </h3>
    <div class="input-expense">
    <form class="form form-horizontal" action="{{ url_for('updateexpense', expid=expid) }}" method="POST" role="form">
    <dl>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.name, placeholder="Enter new name") }}
        {{ wtf.form_field(form.amount, placeholder="New amount spent") }}
        {{ wtf.form_field(form.date) }}
        {{ wtf.form_field(form.orNo, placeholder="New OR number") }}
    </dl>
    <input class="btn btn-success" type="submit" value="Confirm">
    <input class="btn btn-primary" type="button" value="Back" onclick="window.location.href='/adminexpenses'">
    </form>
    </div>


    {% endwith %}
{% endblock %}