{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
New Expense
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/mainstyle.css">
    <link href="/static/forms.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
    {% include "adminbar.html" %}
    {% with msg = get_flashed_messages() %}
<ol class="breadcrumb" id="form-breadcrumbs">
    <li class="breadcrumb-item"><a href="/adminhome">Home</a></li>
    <li class="breadcrumb-item"><a href="/adminexpenses">Expenses</a></li>
    <li class="breadcrumb-item">New Expense</li>
</ol>

    <div class="container">
    <div class="wrapper">
    <div class="form-signin" style="margin-top: -3%">
        <h3 class="form-signin-heading">Add New Expense</h3>
    <form class="form form-horizontal" action="{{ url_for('newexpense') }}" method="POST" role="form">
    <dl>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.eid, placeholder="Enter event ID") }}
        {{ wtf.form_field(form.name, placeholder="e.g., t-shirt printing") }}
        {{ wtf.form_field(form.amount, placeholder="Enter amount spent") }}
        {{ wtf.form_field(form.date) }}
        {{ wtf.form_field(form.orNo, placeholder="Enter OR number") }}
    </dl>
    <input class="btn btn-success btn-block" type="submit" value="Create">
    <input class="btn btn-primary btn-block" type="button" value="Back" onclick="window.location.href='/adminexpenses'">
    </form>

    </div>
    </div>
    </div>
    {% endwith %}
{% endblock %}