{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Expenses
{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/mainstyle.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block metas %}
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block scripts %}
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   {{ super() }}
{% endblock %}

{% block content %}

<div id='cssmenu'>
<ul>
   <li><a href="/adminhome"><span>Home</span></a></li>
   <li><a href="/admincollection"><span>Collection</span></a></li>
   <li><a href="/adminattendance"><span>Attendance</span></a></li>
   <li><a href="/adminbudgets"><span>Budgets</span></a></li>
   <li><a href="/adminexpenses"><span>Expenses</span></a></li>
   <li><a href="/adminevents"><span>Events</span></a></li>
   <li><a href="/adminmembers"><span>Members</span></a></li>
   <li><a href="/adminlogs"><span>Logs</span></a></li>
   <li><a href="/logout"><span>Logout</span></a></li>
</ul>
</div>

<div id="main"><br><br><br>
  <h1 style="font-family: sans-serif">Expenses</h1>
{% with msg = get_flashed_messages() %}
    {% if msg %}
        {% for alert in msg %}
            <div class="messages">
            <div class="col-sm-6 col-md-6">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <span class="glyphicon glyphicon-info-sign"></span><strong>{{ alert }}</strong>

            </div>
        </div>
            </div>
        {% endfor %}
    {% endif %}
  <div class="show-tables">
    <table class="table table-fixed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Date of Expenditure</th>
                <th>OR Number</th>
                <th width="230px">Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for exp in query %}
            <tr>
                <td>{{ exp.expid }}</td>
                <td>{{ exp.name }}</td>
                <td>{{ exp.amount }}</td>
                <td>{{ exp.date }}</td>
                <td>{{ exp.orNo }}</td>
                <td><a href="{{ url_for('updateexpense', expid=exp.expid) }}"><i class="glyphicon glyphicon-file"></i>Edit</a></td>
                <td><a href="{{ url_for('deleteexpense', expid=exp.expid) }}"><i class="glyphicon glyphicon-trash"></i>Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endwith %}
  <div class="expenses">
  <a class="btn btn-primary" href="/newexpense">Record Expenses</a>
  </div>

</div>
{% endblock %}