{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%  block title %}
Login
{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="/static/login.css">
{% endblock %}

{% block content %}
{% with msg = get_flashed_messages() %}
<div class="input-group">
<h1>Sign In</h1>
    <form class="form form-horizontal" action="{{ url_for('login')}}" method="POST" role="form">
    <dl>
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.userid) }}
        {{ wtf.form_field(form.password) }}
    </dl>
        <p><input class="btn btn-primary" type=submit value=Login></p>
    </form>

</div>
    <a href="/viewreg"><i class="glyphicon glyphicon-alert"> Not an admin? Click here</i></a>
{% endwith %}
{% endblock %}

