<html lang="en">
<head>
    <title>Login</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
<div class="signin">
<h1>Sign In</h1>
    <h2>{{ msg }}</h2>
    {% from "_formhelp.html" import render_field %}
    <form action="{{ url_for('login')}}" method="POST">
    <dl>
        {{ render_field(form.hidden_tag)}}
        {{ render_field(form.userid) }}
        {{ render_field(form.password) }}
        {{ render_field(form.remember) }}
    </dl>
    <p><input type=submit value=Login>
    </form>
</div>
</body>
</html>