{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Admin Home
{% endblock %}

{% block styles %}
    <link href="/static/bootstrap1.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/mainstyle.css">
    <link rel="stylesheet" href="/static/jquery.dataTables.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block metas %}
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block scripts %}
    <script>
        var clock = document.getElementById('clock');
var hexColor = document.getElementById('hex-color');

function hexClock() {
  var time = new Date();
  var hours = (time.getHours()).toString();
  var minutes = time.getMinutes().toString();
  var seconds = time.getSeconds().toString();
  var meridiem = "AM";
  if (parseInt(hours) > 12) {
      hours = (hours % 12);
      meridiem = "PM";
  }

  if (hours === 0) {
        hours = 12;
  }

  if (hours.length < 2) {
    hours = '0' + hours;
  }

  if (minutes.length < 2) {
    minutes = '0' + minutes;
  }

  if (seconds.length < 2) {
    seconds = '0' + seconds;
  }

  var clockStr = hours + ' : ' + minutes + ' : ' + seconds + " " + meridiem;
  var hexColorStr = '#' + hours + minutes + seconds;

  clock.textContent = clockStr;
  hexColor.textContent = hexColorStr;
  document.body.style.backgroundColor = hexColorStr;
}

hexClock();
setInterval(hexClock, 1000);
    </script>
{% endblock %}

{% block content %}
    {% include "adminbar.html" %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/adminhome">Home</a></li>
    <li class="breadcrumb-item">Summary</li>
</ol>


    <div id="clocks" style="margin-top: 50px">
    <h1 id="clock"></h1>
    <p id="hex-color" style="display: none;"></p>
    </div>

<div class="col-md-12" id="adminbuttons" style="margin-left: 32.2%;margin-top: 7%; width: 560px; height: 370px">
{% for exp in spent %}
    <h2 style="margin-top: 70px">Total Expenses: &nbsp;&nbsp;&nbsp;&nbsp;&#8369;{{ exp }}<br><small>(School Year Total)</small></h2>
{% endfor %}
{% for col in collected %}
<h2 style="margin-top: 90px">Total Collections: &nbsp;&#8369;{{ col }}<br><small>(School Year Total)</small></h2>
{% endfor %}

</div>


{% endblock %}