{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Update Budget
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="/static/budgets.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
    {% with msg = get_flashed_messages() %}
<h1>Update Existing Budget</h1>
        <h3> {{ msgs }}</h3>
    <div class="input-budget">
    <form class="form form-horizontal" action="{{ url_for('updatebudget')}}" method="POST" role="form">
    <dl>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.schoolyear) }}
        {{ wtf.form_field(form.semester) }}
        {{ wtf.form_field(form.budgetBal) }}
    </dl>
    <input class="btn btn-success" type=submit value=Update>
    <input class="btn btn-primary" type="button" value=Back onclick="window.location.href='/adminbudgets'">
    </form>

    </div>
    {% endwith %}
{% endblock %}