{% extends  "basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Expenses
{% endblock %}

{% block content %}
    {{ super() }}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/viewhome">Home</a></li>
    <li class="breadcrumb-item">Expenses</li>
</ol>

<div id="main"><br><br><br>
  <h1 style="font-family: sans-serif">Expenses</h1>
</div>

<div id="tables">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Expense Description</th>
                <th>Amount</th>
                <th>Date of Expenditure</th>
                <th>OR Number</th>
            </tr>
        </thead>
        <tbody>
        {% for exp in query %}
            <tr>
                <td>{{ exp.eventName }}</td>
                <td>{{ exp.name }}</td>
                <td>{{ exp.amount }}</td>
                <td>{{ exp.date }}</td>
                <td>{{ exp.orNo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a class="btn btn-primary" id="viewpastexp" href="/viewpastexpenses">Past Expenses</a>
{% endblock %}

