{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%  block title %}
Login
{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="/static/view.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">EC Buddy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="/viewerlogin">Login</a></li>
            <li><a href="/admin">Admins</a> </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class = "container">
	<div class="wrapper">
        <form class="form-signin" name="Login_Form" action="{{ url_for('viewerlogin')}}" method="POST" role="form" autocomplete="off">
            <h3 class="form-signin-heading">Member Sign In</h3>
            <hr class="colorgraph"><br>
            <dl>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ wtf.form_field(form.memberid, placeholder="Enter ID without dashes") }}
            </dl>
            <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
        </form>
    </div>
</div>

{% endblock %}

