{% extends "basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Viewer Home
{% endblock %}

{% block metas %}
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block body_attrs %}
    onload=startTime()
{% endblock %}

{% block content %}
{{ super() }}
<div id="main"><br><br><br>

</div>
<h1 id="clock"></h1>
    <p id="hex-color" style="display: none;"></p>
<div id="viewbuttons" align="center">
<h1 id="mainhead" style="font-family: sans-serif; margin-top: 3.5%; font-size: 3.2em; width: 100%;">Hello {{ session['user'] }}! Welcome to your homepage!</h1>
    <div id="viewerbuttons1">
        <a id="viewbudgets" class="btn btn-primary" href="/viewbudgets"><span><i class="glyphicon glyphicon-usd gi-1"></i><br>View Budgets</span></a>
        <a id="viewexpenses" class="btn btn-primary" href="/viewexpenses"><span><i class="glyphicon glyphicon-tags gi-2"></i><br>View Expenses</span></a>
        <a id="viewevent" class="btn btn-primary" href="/viewevent"><span><i class="glyphicon glyphicon-bell gi-3"></i><br>View Events</span></a>
    </div>
    <div id="viewerbuttons2">
        <a id="pastexpenses" class="btn btn-primary" href="/viewpastexpenses">Past Expenses</a>
        <a id="pastevent" class="btn btn-primary" href="/viewpastevent">Past Events</a>
    </div>
</div>



{% endblock %}

