{% extends  "basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Events
{% endblock %}


{% block content %}
{{ super() }}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/viewhome">Home</a></li>
    <li class="breadcrumb-item">Events</li>
</ol>
<div id="main"><br><br><br>
  <h1 style="font-family: sans-serif">Events</h1>

<div id="tables">
    <table id="example" class="table table-bordered" cellspacing="0" width="100%">
        <thead class="events">
            <tr>
                <th>Event Name</th>
                <th>Date of Event</th>
                <th>Budget Allocation</th>
            </tr>
        </thead>
        <tbody>
        {% for event in query %}
            <tr>
                <td>{{ event.eventName }}</td>
                <td>{{ event.eventDate }}</td>
                <td>{{ event.allocation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>

    <a class="btn btn-primary" id="viewpastevent" href="/viewpastevent" style="margin-left: 40.6%">Past Events</a>

{% endblock %}