{% extends "basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Events
{% endblock %}

{% block content %}
{{ super() }}
<ol class="breadcrumb" id="events-breadcrumbs">
    <li class="breadcrumb-item"><a href='/viewhome'>Home</a></li>
    <li class="breadcrumb-item"><a href='/viewevent'>Events</a></li>
    <li class="breadcrumb-item">Past Events</li>
</ol>


<div id="tables" style="margin-top: 5%">
  <h1 style="font-family: sans-serif">Past Event Records</h1>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead class="events">
            <tr>
                <th>Event Name</th>
                <th>Date of Event</th>
                <th>Budget Allocation</th>
            </tr>
        </thead>
        <tbody>
        {% for event in query %}
            <tr>
                <td>{{ event.eventName }}</td>
                <td>{{ event.eventDate }}</td>
                <td>{{ event.allocation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>


{% endblock %}